<div class="row">
  <div class="col-md-6">
    <form ng-if="currentUser" name="profile" ng-controller="profileCtrl as pc" ng-submit="pc.updateUser()" novalidate>
      <p>You can change fname, lname, email but it gets reset based on api when you relogin through fb or google.</p>
      <loading></loading>
      <br>
      <input type="text" class="form-control" ng-model="user.first_name" placeholder="First Name" required="true"/>
      <br>
      <input type="text" class="form-control" ng-model="user.last_name" placeholder="Last Name" required="true"/>
      <br>
      <input type="text" class="form-control" ng-model="user.email" placeholder="email" required="true"/>
      <br>
      <button type="submit" class="form-control" ng-disabled="buttonDisabled">Update Info</button>
      <br>
    </form>
  </div>
  <div class="col-md-6"></div>
</div> 