{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
        </ul>
      </div>
    </nav>
    <section class="container">
      <div class="row">
        <div class="col-xs-12">
          <h3>Invalid token or uid supplied</h3>
        </div>
      </div>
    </section>
  </body>
</html>
