.forgot-password input.ng-invalid.ng-touched, .reset-password input.ng-invalid.ng-touched{
    border: 1px solid #FA787E;
}

.forgot-password input.ng-valid.ng-touched, .reset-password input.ng-valid.ng-touched {
    border: 1px solid #78FA89;
}

.processing
{
    margin-top: 6px;
}
